@font-face {
  font-family: "Amperzand";
  src: url("~@/assets/fonts/Amperzand.ttf") format("truetype");
}

@font-face {
  font-family: "Eat at Joe's St";
  src: url("~@/assets/fonts/Eat at Joe's St.ttf") format("truetype");
}

@font-face {
  font-family: "Kurale";
  src: url("~@/assets/fonts/Kurale.ttf") format("truetype");
}

@font-face {
  font-family: "GL Italiuri";
  src: url("~@/assets/fonts/GL Italiuri.ttf") format("truetype");
}

@font-face {
  font-family: "GL Erekles Stamba";
  src: url("~@/assets/fonts/GL Erekles Stamba.ttf") format("truetype");
}
